@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.ttf') format('truetype');
}

*, *::before, *::after, input, button { 
    font-family: 'Inter'
}

body{
    margin: 0;
    background-color: #1d1d1d;
}

header{
    background-color: #232323;
    border-bottom: 2px solid #3e3e3e;
    padding: 25px;
}

main{
    margin: 26px;
    line-height: 0.5;
}

p, .link-title{
    line-height: 1.5;
    font-weight: 500;
}

button{
    display: flex;
    background-color: #232323;
    border: 3px solid #3e3e3e;
    border-radius: 50px;
    align-items: center;
    padding: 5px 15px;
    gap: 8px;
    transition: all 0.2s linear;
    cursor: pointer;
}

button:hover{
    border-color: #919191;
    transition: all 0.2s linear;
}

::selection {
    background-color: #74F398;
    color: #232323;
}

#tuner-type-label{
    color: #dddddd;
    font-size: 18px;
    font-weight: 700;
}

#header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-header{
    display: flex;
    gap: 14px;
    margin-top: 20px;
    align-items: center;
}

.content-header-tuned{
    margin-top: 20px;
    align-items: center;
}

.content-title, p, #tuner-type-btn{
    color:#dddddd
}

h2{
    color: #74F398
}

.main-content{
    margin-left: 40px;
}

.corner-nav{
    position: fixed;
    bottom: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.corner-nav-icon, .corner-nav-title{
    width: 25px;
    font-size: 12px;
    color: #919191;
    transition: all 0.2s linear;
}

.corner-nav-icon:hover{
    color: #dddddd;
    transition: all 0.2s linear;
}

/* Corner Navigation Titles are hidden by default. kinda distracting to keep it enabled, kept it here to have an option for now */
.corner-nav-title{
    display: none;
}

.corner-nav-active{
    color: #dddddd;
}

#contact-text{
    max-width: 60ch;
}

.link-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 210px;
}

.link-icon{
    height: 25px;
    width: 25px;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #dddddd;
    gap: 10px;

    transition: all 0.2s linear;
}

a:hover{
    color: #74F398;
    transition: all 0.2s linear;
}

.tuner-container{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}
.tuner-container input, .tuner-container button{
    pointer-events: auto;
}
.axis-line{
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    min-width: 400px;
}
.horizontal-axis-line
{   
    width: 35vw;
    height: 2px;
    background-color: #919191;
    border-radius: 5px;
    min-width: 400px;
}
.horizontal-axis-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-axis-line{
    margin-left: auto;
    margin-right: auto;
    width: 2px;
    height: 40vh;
    background-color: #919191;
}
.vertical-axis-container{
    margin-bottom: -13px;
}

.horizontal-axis-container img{
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

#tuner-note-label{
    margin-top: -10px;
    color: #dddddd;
    font-size: 60px;
    font-weight: 800;
}

.tuner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tuner-content-text, #frequency-label{
    color: #919191;
    font-size: 14px;
    font-weight: 800;
}

#frequency-label{
    color: #74F398;
    font-size: 22px;
}

.tuned-freq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-box-container{
    display: flex;
    gap:28px;
}
.note{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px
}
.note-box{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #232323;
    border: 2px solid;
    border-color: #3e3e3e;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #919191;
    outline: none;
    transition: all 0.2s linear;
}

.note-box:hover, .note-box.active{
    border-color: #dddddd;
    color: #dddddd;
}

.arrow-btn{
    display: flex; /* 'none' to disable */
    background: none;
    border: none;
    width: 20px;
    padding:0px;
    align-items: center;
    justify-content: center;
    color: #3e3e3e;
}
.arrow-btn:hover{
    background: none;
    color: #dddddd;
}

.toggle-container{
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    gap: 12px;
}
.toggle-container input{
    display: none;
}
.toggle-slider {
    position: relative;
    width: 40px;
    height: 12px;
    background-color: #74F398;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}
.toggle-slider::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -2px;
    width: 20px;
    height: 20px;
    background-color: #dddddd;
    border: 4px solid;
    border-color: #1d1d1d;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
.toggle-container input:not(:checked) + .toggle-slider {
    background-color: #333333;
}
.toggle-container input:checked + .toggle-slider::before {
    transform: translateX(20px);
}
.toggle-label{
    color: #74F398;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.2s linear;
}
.toggle-container:has(input:not(:checked)) .toggle-label {
   color: #dddddd;
   transition: all 0.2s linear;
}

.grid-section-title{
    font-size: 22px;
}

.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    justify-content: left;
    gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #232323;
    border: 2px solid;
    border-color: #3e3e3e;
    border-radius: 20px;
    width: 330px;
    height: 100px;
    transition: all 0.2s linear;
}
.card-title{
    color: #dddddd;
    margin: 0px;
}
.card-note{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:14px
}
.card-note-box{
    font-size: 16px;
    width: 32px;
    height: 32px;
}
.card-note-box:hover{
    border-color: #3e3e3e;
    color: #919191;
}

.card:hover .card-note-box{
    color: #dddddd;
}
.card:hover{
    border-color: #919191;
}